{% extends "base.html" %}

{% block title %}Ad List{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="page-header" style="background: url(/assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">List Style Listing</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home /</a></li>
                        <li class="current">Listings</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Main container Start -->
<div class="main-container section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-xs-12 page-sidebar">
                <aside>
                    <!-- Searcg Widget -->
                    <div class="widget widget_search">
                        <form role="search" id="search-form">
                            <input type="search" class="form-control" autocomplete="off" name="s"
                                placeholder="Search..." id="search-input" value="">
                            <button type="submit" id="search-submit" class="search-btn"><i
                                    class="lni lni-search"></i></button>
                        </form>
                    </div>
                    <!-- Categories Widget -->
                    <div class="widget categories">
                        <h4 class="widget-title">All Categories</h4>
                        <ul class="categories-list">
                            <li>
                                <a href="#">
                                    <i class="lni lni-dinner"></i>
                                    Hotel & Travels <span class="category-counter">(5)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="lni lni-control-panel"></i>
                                    Services <span class="category-counter">(8)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="lni lni-github"></i>
                                    Pets <span class="category-counter">(2)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="lni lni-coffee-cup"></i>
                                    Restaurants <span class="category-counter">(3)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="lni lni-home"></i>
                                    Real Estate <span class="category-counter">(4)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="lni lni-pencil"></i>
                                    Jobs <span class="category-counter">(5)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="lni lni-display"></i>
                                    Electronics <span class="category-counter">(9)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">Advertisement</h4>
                        <div class="add-box">
                            <img class="img-fluid" src="/assets/img/img1.jpg" alt="">
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9 col-md-12 col-xs-12 page-content">
                <!-- Product filter Start -->
                <div class="product-filter">
                    <div class="short-name">
                        <span>Showing (1 - 12 products of 7371 products)</span>
                    </div>
                    <div class="Show-item">
                        <span>Show Items</span>
                        <form class="woocommerce-ordering" method="post">
                            <label>
                                <select name="order" class="orderby">
                                    <option selected="selected" value="menu-order">49 items</option>
                                    <option value="popularity">popularity</option>
                                    <option value="popularity">Average ration</option>
                                    <option value="popularity">newness</option>
                                    <option value="popularity">price</option>
                                </select>
                            </label>
                        </form>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#grid-view"><i class="lni lni-grid"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#list-view"><i
                                    class="lni lni-list"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- Product filter End -->

                <!-- Adds wrapper Start -->
                <div class="adds-wrapper">
                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane fade">
                            <div class="row">
                                {% for product in products %}
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="featured-box">
                                        <figure>
                                            <div class="icon">
                                                <i class="lni lni-heart"></i>
                                            </div>
                                            <a href="#"><img class="img-fluid"
                                                    src="{{ product.image_url or '/assets/img/no-image.png' }}"
                                                    alt=""></a>
                                        </figure>
                                        <div class="feature-content">
                                            <div class="tg-product">
                                                <a href="#">{{ product.category }}</a>
                                            </div>
                                            <h4><a href="ads-details/{{ product.id }}">{{ product.title }}</a></h4>
                                            <span>Last Updated: {{ product.created_at }}</span>
                                            <ul class="address">
                                                <li>
                                                    <a href="#"><i class="lni lni-map-marker"></i>{{ product.city }}</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="lni lni-alarm-clock"></i> {{
                                                        product.created_at.strftime('%d %b, %I:%M %p') }}</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="lni lni-user"></i> {{ product.owner.firstname
                                                        }} {{ product.owner.lastname }}</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="lni lni-tag"></i> {{ product.category }}</a>
                                                </li>
                                            </ul>
                                            <div class="btn-list">
                                                <a class="btn-price" href="#">$ {{ product.price }}</a>
                                                <a class="btn btn-common" href="ads-details/{{ product.id }}">
                                                    <i class="lni lni-list"></i>
                                                    View Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="list-view" class="tab-pane fade active show">
                            <div class="row">
                                {% for product in products %}
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="featured-box">
                                        <figure>
                                            <div class="icon">
                                                <i class="lni lni-heart"></i>
                                            </div>
                                            <a href="#"><img class="img-fluid"
                                                    src="{{ product.image_url or '/assets/img/no-image.png' }}"
                                                    alt=""></a>
                                        </figure>
                                        <div class="feature-content">
                                            <div class="tg-product">
                                                <a href="#">{{ product.category }}</a>
                                            </div>
                                            <h4><a href="ads-details/{{ product.id }}">{{ product.title }}</a>
                                            </h4>
                                            <span>Last Updated: {{ product.created_at }}</span>
                                            <ul class="address">
                                                <li>
                                                    <a href="#"><i class="lni lni-map-marker"></i>{{
                                                        product.city }}</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="lni lni-alarm-clock"></i> {{
                                                        product.created_at.strftime('%d %b, %I:%M %p') }}</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="lni lni-user"></i> {{
                                                        product.owner.firstname }} {{ product.owner.lastname
                                                        }}</a>
                                                </li>
                                            </ul>
                                            <div class="btn-list">
                                                <a class="btn-price" href="#">$ {{ product.price }}</a>
                                                <a class="btn btn-common" href="ads-details/{{ product.id }}">
                                                    <i class="lni lni-list"></i>
                                                    View Details
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Adds wrapper End -->

                <!-- Start Pagination -->
                <div class="pagination-bar">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End Pagination -->

            </div>
        </div>
    </div>
</div>
<!-- Main container End -->

{% endblock %}