{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="page-header" style="background: url(/assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Login</h2>
                    <ol class="breadcrumb">
                        <li><a href="index">Home /</a></li>
                        <li class="current">Login</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Content section Start -->
<section class="login section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-xs-12">
                <div class="login-form login-area">
                    <h3>
                        Login Now
                    </h3>
                    <form id="login-form" role="form" class="login-form" method="POST">
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni lni-user"></i>
                                <input type="text" id="username" class="form-control" name="username"
                                    placeholder="Username" autocomplete="off" spellcheck="false" inputmode="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="lni lni-lock"></i>
                                <input type="password" id="password" name="password" class="form-control"
                                    placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="checkbox">
                                <input type="checkbox" name="rememberme" value="rememberme">
                                <label>Keep me logged in</label>
                            </div>
                            <a class="forgetpassword" href="/users/forgot-password">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-common log-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!-- Content section End -->
{% block extra_js %}
<!-- <script src="{{ url_for('assets', path='js/login.js') }}"></script>
<script src="{{ url_for('assets', path='js/auth.js') }}"></script> -->
{% endblock %}